/* \\//\\//\\/ - HERO SECTION - \\//\\//\\// */
.hero {
    height: auto;
    width: 100%;
    background-image: url("../assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    position: relative;
}

.hero-content {
    padding: 5rem;
    padding-bottom: 0px;
}

.hero h1 {
    font-size: 4.5rem;
    line-height: 1.1;
    /* controls vertical space between lines */
}

.hero h1 span {
    display: block;
    /* stays on its own line */
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 0;
    /* small controlled gap */
}

.hero hr {
    height: 5px;
    color: #fff;
    background-color: #fff;
    max-width: 400px;
    margin: 40px 0px;
}

.hero p {
    max-width: 500px;
    font-size: 1.75rem;
    font-weight: 300;
}

.hero button {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 20px;
    margin: 20px 0px;

    border-radius: 12px;
    background-color: var(--aux-color);
}

.hero button:hover {
    background-color: var(--primary-color);
    color: var(--aux-color);
}

.hero-bottom {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--primary-color_fifty-opacity);
    margin-top: 60px;
}

.hero-bottom_tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    text-align: left;
    padding: 4rem;
    width: 33%;
}

.hero-bottom_tile img {
    height: 50px;
    width: 50px;
}

.hero-bottom_tile span {
    font-size: 1.25rem;
    margin: 10px 0px;
}

.hero-bottom_tile p {
    max-width: 100%;

    font-size: 1rem;
    font-weight: 300;
}


/* \\//\\//\\/ - INTRO SECTION - \\//\\//\\// */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem;
    max-width: 100vw;
    background-color: var(--primary-color_ten-opacity);
}

.intro span {
    color: var(--aux-color);
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
}

.intro h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    line-height: 1.1;
}

.intro hr {
    height: 5px;
    color: var(--aux-color);
    background-color: var(--aux-color);
    min-width: 30%;
    max-width: 400px;
    margin: 40px 0px;
}

.intro p {
    font-size: 1.25rem;
    font-weight: 400;
    max-width: 70%;
}


/* \\//\\//\\/ - SERVICES SECTION - \\//\\//\\// */
.services {
    padding: 4rem;
}

.services span {
    color: var(--secondary-color);
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
}

.services h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    line-height: 1.1;
}

.services hr {
    height: 5px;
    color: var(--aux-color);
    background-color: var(--aux-color);
    min-width: 30%;
    max-width: 400px;
    margin: 40px 0px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* always 3 columns max */
    gap: 20px;
    width: 100%;
}

.services-grid_tile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem;
    border: 1px solid var(--primary-color);
    border-radius: 12px;
    gap: 20px;
}

.services-grid_tile img {
    height: 75px;
    width: 75px;
}

.services-grid_tile h3 {
    color: var(--primary-color);
    font-size: 1.5rem;
    line-height: 1.1;
}

.services-grid_tile p {
    max-width: 100%;
    font-size: 1.25rem;
    font-weight: 300;
}

.services-grid_tile a {
    color: var(--aux-color);
    align-self: flex-end;
    text-decoration: underline;
}

/* \\//\\//\\/ - CTA SECTION - \\//\\//\\// */
.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding: 7rem 5rem;
    background-image: url("../assets/ducky.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;

    position: relative;
}

.cta h2 {
    font-size: 4.5rem;
    line-height: 1.1;
}

.cta span {
    display: block;
    /* stays on its own line */
    font-size: 2.5rem;
    font-weight: 400;
    margin-top: 0;
}

.cta hr {
    height: 5px;
    color: #fff;
    background-color: #fff;
    min-width: 30%;
    max-width: 400px;
    margin: 40px 0px;
}

.cta>span {
    font-weight: 400;
    font-style: italic;
}

.cta button {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 20px;
    margin: 20px 0px;

    border-radius: 12px;
    background-color: var(--aux-color);
}

.cta button:hover {
    background-color: var(--primary-color);
    color: var(--aux-color);
}

.cta .waves-top,
.cta .waves-bottom {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    overflow: visible;
}

.cta .waves-top {
    top: -1px;
    background-image: url(../assets/waves-top.svg);
}

.cta .waves-bottom {
    top: calc(100% - 98px);
    background-image: url(../assets/waves-bottom.svg);
}

/* \\//\\//\\/ - ABOUT SECTION - \\//\\//\\// */
.about {
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* always 3 columns max */
    gap: 40px;
    width: 100%;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
}

.about-wrapper span {
    color: var(--secondary-color);
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
}

.about-wrapper h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    line-height: 1.1;
}

.about-wrapper hr {
    height: 5px;
    color: var(--aux-color);
    background-color: var(--aux-color);
    min-width: 100%;
    margin: 40px 0px;
}

.about-wrapper p {
    font-size: 1.25rem;
    font-weight: 400;
}

.about img {
    height: 100%;
    object-fit: cover;
    max-width: 100%;
}

.about a {
    color: var(--aux-color);
    align-self: flex-start;
    text-decoration: underline;
}

/* \\//\\//\\/ - WHY SECTION - \\//\\//\\// */
.why {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5rem;
    max-width: 100vw;
    background-color: var(--primary-color_ten-opacity);
}

.why>span {
    color: var(--aux-color);
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
}

.why h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    line-height: 1.1;
}

.why hr {
    height: 5px;
    color: var(--aux-color);
    background-color: var(--aux-color);
    min-width: 30%;
    max-width: 400px;
    margin: 40px 0px;
}

.why-flexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.why-flexbox_tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 20%;
    min-width: 300px;
    padding: 1rem;
}

.why-flexbox_tile img {
    height: 75px;
    width: 75px;
}

.why-flexbox_tile h3 {
    color: var(--primary-color);
    font-size: 1.5rem;
    line-height: 1.1;
}

.why-flexbox_tile p {
    max-width: 100%;
    font-size: 1rem;
    font-weight: 300;
}

/* \\//\\//\\/ - LOCATIONS SECTION - \\//\\//\\// */
.locations {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    /* always 3 columns max */
    width: 100%;
    background-color: var(--primary-color);
    overflow: hidden;
}

.locations-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    color: #fff;
    margin: auto;
    padding: 6rem;
    height: auto;
}

.locations-info span {
    color: var(--secondary-color);
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
}

.locations-info h2 {
    color: #fff;
    font-size: 2.5rem;
    line-height: 1.1;
}

.locations-info hr {
    height: 5px;
    color: var(--secondary-color);
    background-color: var(--secondary-color);
    min-width: 30%;
    max-width: 400px;
    margin: 40px 0px;
}

.locations-info ul {
    margin-left: 20px;
    list-style: url(../assets/location_wired.svg);
}

.locations-info ul li {
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 10px;
}

.locations-info button {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 10px 20px;
    margin: 20px 0px;

    border-radius: 12px;
    background-color: var(--aux-color);
}

.locations-info button:hover {
    background-color: var(--secondary-color);
}

.locations-map {
    position: relative;
    max-height: 100%;
}

.locations-map img {

    width: 100%;
    max-width: 100vw;
    max-height: auto;
}

.locations-map img:first-of-type {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

/* \\//\\//\\/ - GALLERY SECTION - \\//\\//\\// */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    padding: 5rem;
}

.gallery-tile {
    width: 100%;
}

.gallery-tile.info-tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid var(--aux-color);
    border-radius: 12px;
    padding: 2rem;
}

.gallery-tile img {
    width: 100%;
}

.gallery-tile span {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 400;
}

.gallery-tile h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    line-height: 1.1;
}

/* \\//\\//\\/ - GALLERY SECTION - \\//\\//\\// */
footer {
    background-color: var(--primary-color);
    padding: 4rem;
}

footer h2 {
    font-size: 3rem;
    color: var(--secondary-color);
}

footer h2 span {
    color: var(--aux-color);
}

.footer-inner {
    display: grid;
    grid-template-columns: 1.5fr repeat(3, 1fr);
    width: 100%;
    gap: 6rem;
    margin: 20px 0px;
}

.footer-inner_tile {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-inner_tile p {
    color: #fff;
    font-style: italic;
    font-size: 1.25rem;
    font-weight: 300;
}

.footer-inner_tile span {
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
}

.footer-inner_tile ul {
    list-style: none;
}

.footer-inner_tile li {
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
}

.footer-inner_tile li a {
    font-size: 1.25rem;
    font-weight: 300;
    color: #fff;
}

footer hr {
    height: 5px;
    color: var(--aux-color);
    background-color: var(--aux-color);
    min-width: 80%;
    margin: 20px 0px;
}

footer>span {
    color: var(--secondary-color);
    font-size: 1rem;
    font-style: italic;
}

@media (max-width: 900px) {

    /* \\//\\//\\/ - HERO SECTION - \\//\\//\\// */
    .hero-content {
        padding: 2rem;
        padding-bottom: 6rem;
        background-color: var(--primary-color_fifty-opacity);
    }

    .hero-bottom {
        flex-direction: column;
    }

    .hero-bottom_tile {
        justify-content: center;
        text-align: center;
        align-items: center;
        padding: 2rem;
        width: 100%;
    }

    .hero-bottom_tile p {
        max-width: 450px;
    }


    /* \\//\\//\\/ - INTRO SECTION - \\//\\//\\// */
    .intro {
        padding: 2rem;
    }

    .intro p {
        min-width: 100%;
    }

    /* \\//\\//\\/ - SERVICES SECTION - \\//\\//\\// */
    .services {
        padding: 2rem;
    }

    .services-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        /* always 3 columns max */
        gap: 20px;
        width: 100%;
    }

        /* \\//\\//\\/ - CTA SECTION - \\//\\//\\// */
    .cta {
        padding: 7rem 2rem;
    }

    /* \\//\\//\\/ - ABOUT SECTION - \\//\\//\\// */
    .about {
        padding: 2rem;
        grid-template-columns: 1fr;
        /* single column */
        grid-template-rows: auto;
        /* first row natural height, second row fixed */
    }

    .about img {
        width: 100%;
        height: auto;
        object-fit: cover;
        /* makes the image fill its row without distortion */
        border-radius: 12px;
        /* optional, matches your tile style */
    }

        /* \\//\\//\\/ - WHY SECTION - \\//\\//\\// */
    .why {
        padding: 2rem;
    }

    .why hr {
        min-width: 100%;
        max-width: none;
    }

    /* \\//\\//\\/ - LOCATIONS SECTION - \\//\\//\\// */
    .locations {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
        background-color: var(--primary-color);
    }

    .locations-info {
        padding: 2rem;
    }

    .locations-map img {
        max-width: 100vw;
    }

    /* \\//\\//\\/ - GALLERY SECTION - \\//\\//\\// */
    .gallery {
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem;
    }

        /* \\//\\//\\/ - FOOTER SECTION - \\//\\//\\// */
.footer-inner {
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
}
}